#floatingDiv
{
	background: lightgrey;

	color: black;

	position: fixed;

	border-radius: 3px;
	border: solid 2px black;
	padding: 5px;
}

a
{
	display: block;
	color: #444;
	font-weight: bold;
}

html
{
	padding: 0px;
}

body
{
	background: lightgrey;

	border: solid black 2px;

	width: 160px;
	height: 140px;
	padding: 5px;
}