#floatingDiv
{
	background: lightgrey;

	color: black;

	position: fixed;

	border-radius: 3px;
	border: solid 2px black;
	padding: 5px;
}

.groupDiv
{

	border: solid black 2px;

	margin: 5px 0px;
	padding: 3px;

}

.groupTitle
{
	font-size: 12pt;

	padding: 0px;
	margin: 2px 0px;
}

html
{
	padding: 0px;
}

body
{
	background: lightgrey;

	font-size: 10pt;

	width: 180px;
	height: 200px;
	padding: 2px;
}